:root {
    /* Color palette */
    --bg: #fff;
    --element-bg: #000;
    --subtle: #dfdfdf;
    --sky: #ea00ff;
    --highlights: #c3d3ff;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Varela Round";
    src: url("../fonts/Varela_Round/VarelaRound-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    min-width: 320px;
    width: 100vw;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Open Sans', sans-serif;
    color: var(--element-bg);
    background-color: var(--bg);
}

/* HEADER */
header {
    width: 100%;
    padding: 2vw;
    box-sizing: border-box;
    text-align: center;
}

#header-title {
    margin: 0;
    color: var(--element-bg);
    font-family: 'Varela Round', sans-serif;
    font-size: 2.5em;
}

#header-subtitle {
    margin: 0;
    color: var(--element-bg);
}

/* MAIN */
main {
    padding: 2vw;
}

#projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-title {
    width: 100%;
    padding: 0.5em 1em;
    margin: 0;
    
    font-family: 'Varela Round', sans-serif;
}

.project-figure {
    width: 100%;
    margin: 1vw 0;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid var(--subtle);
}

.project-figure > img {
    flex-basis: 25%;
    flex-grow: 2;
    width: 25%;
    object-fit: cover;
}

.project-figure > figcaption {
    padding: 1em;
    box-sizing: border-box;
    flex-basis: 50%;
    flex-grow: 2;
    width: 100%;
    border-left: 1px solid var(--subtle);
}

.project-figure > figcaption > h2 {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

.project-figure-ul {
    margin: 0;
    padding: 0.5em 0;
    font-family: 'Varela Round', sans-serif;
    list-style: none;
}

.project-figure-ul li {
    display: inline-block;
    padding: 0.5em;
    margin: 0.25em 0.25em 0.25em 0;
    width: max-content;
    border-radius: 5px;
    background-color: var(--highlights);
}

/* FOOTER */
footer {
    margin-top: 5em;
    margin-bottom: 2em;
    color: var(--element-bg);
    text-align: center;    
}

#links {
    margin: 1em;
}

#links > a {
    padding: 0 2em;
    color: var(--element-bg);
    transition: 0.15s;
}

#links > a:hover {
    color: var(--highlights);
    transition: 0.15s;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    body {
        font-size: 0.9em;
    }

    .project-figure {
        width: 100%;
    }

    #personal-links > a > img {
        width: 30px;
        height: 30px;
    }
}